# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Develoapment\Autoclass_logic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
